@import "../Global.scss";

.news-no-image {
  width: 270px;
  height: 120px;
  position: relative;
  //   border: 5px solid red;
  display: flex;
  justify-content: center;
  align-items: center;

  h3 {
    cursor: pointer;
    text-align: center;
    color: black;
    font-size: 1rem;
    font-family: $article-font;
    transition: 0.2s ease;
  }

  &::before {
    content: "";
    position: absolute;
    left: 20px;
    right: 20px;
    top: -10px;
    border-bottom: 1px solid black;
  }

  &:hover {
    h3 {
      color: $article-hover-font-color;
    }
  }
}
