@import "../Global.scss";

$border-color: #969696;
$border-weight: 1px;
$box-shadow-color: #363636;

.search-bar {
  z-index: 10;
  height: 42px;
  width: 25vw;
  min-width: 300px;

  input {
    border: none;
    position: absolute;
    background-color: white;
  }

  input[type="text"] {
    height: 40px;
    border-radius: 0 30px 30px 0;
  }

  input[type="submit"] {
    border-radius: 30px 0 0 30px;
    border: $border-weight solid $border-color;
    box-shadow: -1px 0 0 $box-shadow-color, 0 -1px 0 $box-shadow-color,
      0 1px 0 $box-shadow-color;
    height: 40px;
    width: 40px;
    border-left: $border-weight solid $border-color;
    // background-color: white;
    cursor: pointer;
  }
}

.search-bar.default {
  top: 2px;
  position: fixed;
  left: calc(50% - 10vw);
  z-index: 10;
  width: 20vw;

  input {
    border: $border-weight solid $border-color;
  }

  input[type="text"] {
    right: 0;
    height: 40px;
    width: calc(100% - 39px);
    padding: 0 4px;
    box-shadow: 1px 0 0 $box-shadow-color, 0 -1px 0 $box-shadow-color,
      0 1px 0 $box-shadow-color;
  }

  input[type="submit"] {
    left: 0;
  }
}

.search-bar.home {
  position: sticky;
  top: 2px;

  input[type="text"] {
    right: 0;
    width: 0;
    animation: 1.33s 2.6532s forwards slice-search-text-input;
  }

  input[type="submit"] {
    left: -50vw;
    animation: 2s 2s forwards slice-search-submit-button;
  }
}

@keyframes slice-search-submit-button {
  0% {
    left: -50vw;
  }
  33% {
    left: calc(100% - 42px);
  }
  100% {
    left: 0;
  }
}

@keyframes slice-search-text-input {
  0% {
    width: 0;
    border: none;
    padding: 0;
    box-shadow: none;
  }
  1% {
    // width: calc((100% - 39px) / 100);
    border: $border-weight solid $border-color;
    box-shadow: 1px 0 0 $box-shadow-color, 0 -1px 0 $box-shadow-color,
      0 1px 0 $box-shadow-color;
    // padding: 0 4px;
  }
  100% {
    width: calc(100% - 39px);
    border: $border-weight solid $border-color;
    box-shadow: 1px 0 0 $box-shadow-color, 0 -1px 0 $box-shadow-color,
      0 1px 0 $box-shadow-color;
    padding: 0 4px;
  }
}

@media screen and (min-width: 400px) {
}
